nav {
    display: flex;
    align-items: center;
}


.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 5px;
}


.pokedex {
    font-size: 18px;
    font-weight: normal;
    margin-right: 10px;
}


.buscador {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 500px;
    margin-bottom: 10px;
    background-image: url('src/assets/search.svg');
    background-repeat: no-repeat;
    background-position: 0.5% center;
}
.header{
    background-color: red;
}
.login-btn {
    margin-right: 10px;
}
  
  .register-btn {
    margin-right: 10px;
}
